{% extends "report-manager/_layouts/settings" %}
{% set title = "Interface Settings"|t('report-manager') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'interface' %}

{% set plugin = craft.app.plugins.getPlugin('report-manager') %}
{% set crumbs = [
    {
        label: reportHelper.fullName|t('report-manager'),
        url: url('report-manager'),
    },
    {
        label: 'Settings'|t('report-manager'),
        url: url('report-manager/settings'),
    },
    {
        label: 'Interface'|t('report-manager'),
        url: url('report-manager/settings/interface'),
    },
] %}

{% block content %}
    {{ actionInput('report-manager/settings/save') }}
    {{ redirectInput('report-manager/settings/interface') }}
    {{ hiddenInput('section', 'interface') }}

        <h2 class="first">{{ "Interface Settings"|t('report-manager') }}</h2>

        {% include 'lindemannrock-base/_partials/field-items-per-page' with {
            settings: settings,
            pluginHandle: 'report-manager',
        } only %}

        <hr>

        {% include 'lindemannrock-base/_partials/cascade-base-overrides' with {
            settings: settings,
            pluginHandle: 'report-manager',
            sections: {
                dateFormat: {},
                dateRange: {},
                exports: {},
            },
        } only %}

    {% include 'lindemannrock-base/_components/plugin-credit' %}
{% endblock %}
